/**
* Some CSS adapted from phpBB.com rules page
*/

/* page layout */
.boardrules-container {
	position: relative;
	overflow: hidden;
}

.content h3 {
	text-transform: none;
	border-bottom: none;
	margin-top: 5px;
}

.content ol {
	font-size: 1.2em;
	line-height: 1.4em;
	margin-left: 2em;
}

.rtl .content ol {
	margin-right: 2em;
	margin-left: 0;
}

.content ol ol {
	font-size: 1em;
}

/* rules */
.boardrules-rules {
	padding-right: 50px;
}

.boardrules-rules li {
	margin-bottom: 20px;
}

.boardrules-rules ol {
	list-style: lower-alpha;
}

.boardrules-rules ol li {
	margin-bottom: 5px;
}

.boardrules-rules ol .rule-item {
	padding-bottom: 5px;
}

.boardrules-rules ol .rule-item ul,
.boardrules-rules ol .rule-item ol {
	margin: 1em 0 1em 3em;
}

.boardrules-rules ol li ol {
	list-style: lower-roman;
}

.rtl .boardrules-rules {
	padding-right: 0;
	padding-left: 50px;
}

.rtl .boardrules-rules ol .rule-item ol {
	margin-right: 3em;
	margin-left: 0;
}

/* rules sections mini panel */
.boardrules-categories {
	float: right;
	width: 260px;
	margin: 26px 0 30px 30px;
}

.rtl .boardrules-categories {
	float: left;
	margin-right: 30px;
	margin-left: 0;
}

.mini-panel {
	background-color: #ebebeb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 5px;
	padding: 5px 10px;
}

.mini-panel h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #333333;
	margin: 5px 0 0;
}

.boardrules-menu {
	border-top: 1px solid #ffffff;
	list-style: none;
}

.boardrules-menu li {
	border-bottom: 1px solid #cccccc;
	margin: 0;
	padding: 5px 0 4px;
}

.boardrules-menu li:last-child {
	border-bottom: none;
}

/* rule highlighting */
.highlight {
	font-weight: bold;
	background-color: #ecd5d8;
	color: #bc2a4d;
	padding: 3px 6px 0;
}

/* responsive design */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.boardrules-categories,
	.rtl .boardrules-categories {
		text-align: center;
		float: none;
		width: 100%;
		margin: 0;
	}

	.boardrules-container {
		width: 100%;
		margin: 0;
	}
}
